127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.33.11   mesos-master
192.168.33.12   mesos-slave1
192.168.33.13   mesos-slave2
192.168.33.14   mesos-master2
192.168.33.15   mesos-master3
